html {
  font-size: 10px;
}

.content {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

:root {
 --transparent-gray: rgba(160,160,160,0.3);
}

:focus {
  outline: none;
}
/* header */
.header {
  display: flex;
  justify-content: flex-end;
}

.header .search-bar {
  margin: 3rem 5rem 0 0;
  padding: 0.7rem 1rem;
  background-color: var(--transparent-gray);
  color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.search-bar .search-city-button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.search-bar .search-city-button:focus {
  cursor: pointer;
}

.search-bar .search-city-button i {
  background-color: none;
  border: none;
  padding: 0;
  margin: 0.8rem;
  font-size: 2.5rem;
  color: white;
}

.search-bar input[type="text"] {
  border: none;
  background-color: transparent;
  color: white;
  width: 30rem;
  height: 3rem;
  font-size: 2.2rem;
}

.search-bar input[type="text"]::-webkit-input-placeholder {
  color: white;
}

.search-bar input[type="text"]::-moz-placeholder {
  color: white;
}

.search-bar input[type="text"]:-ms-input-placeholder {
  color: white;
}

.search-bar input[type="text"]:-moz-placeholder {
  color: white;
}