html {
  font-size: 10px;
}

.content {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

:root {
 --transparent-gray: rgba(160,160,160,0.3);
}

:focus {
  outline: none;
}
/* header */
.header {
  display: flex;
  justify-content: flex-end;
}

.header .search-bar {
  margin: 3rem 5rem 0 0;
  padding: 0.7rem 1rem;
  background-color: var(--transparent-gray);
  color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.search-bar .search-city-button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.search-bar .search-city-button:focus {
  cursor: pointer;
}

.search-bar .search-city-button i {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0.8rem;
  font-size: 2.5rem;
  color: white;
}

.search-bar input {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  color: white;
  width: 30rem;
  height: 3rem;
  font-size: 2.2rem;
}

.search-bar input::-webkit-input-placeholder {
  color: white;
}

.search-bar input::-moz-placeholder {
  color: white;
}

.search-bar input:-ms-input-placeholder {
  color: white;
}

.search-bar input:-moz-placeholder {
  color: white;
}

/* Weather Data Display */
.weather-information-card {
  margin-top: 25vh;
  text-align: center;
  color: white;
}

.weather-information-card .location {
  font-size: 5rem;
}

.weather-information-card .temperature {
  font-size: 12rem;
  margin-top: 3rem;
}

.weather-information-card .temperature::after {
  content: "\00B0 F";
  font-size: 4rem;
  vertical-align: 7rem;
}

.weather-information-card .feels-like {
  font-size: 2rem;
  margin-top: 0.2rem;
}

.weather-information-card .feels-like .feels-like-temperature::after {
  content: "\00B0 F";
  font-size: 1.15rem;
  vertical-align: 0.9rem;
}

.weather-information-card .weather-type {
  font-size: 3rem;
  margin-top: 1.5rem;
  text-transform: capitalize;
}

